name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Cleanup
        run: Remove-Item * -Recurse -Force -Confirm:$false -ErrorAction Ignore

      - uses: actions/checkout@v2
        with:
          path: SML

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.0.3

      - name: Create UE4 directory
        run: mkdir ue4

      - name: Downlad, Extract and Setup UE4
        working-directory: ue4
        run: |
          gh release download --repo SatisfactoryModdingUE/UnrealEngine -p "*.7z.*"
          7z x UnrealEngine-CSS-Editor-Win64.7z.001
          rm UnrealEngine-CSS-Editor-Win64.7z*
          .\\SetupScripts\\Register.bat

      - name: Download and Extract Wwise
        run: |
          aria2c -o Wwise.7z "${{ secrets.WWISE_URL }}"
          7z x Wwise.7z -oSML\\Plugins\\
          rm Wwise.7z

      - name: Build SML
        run: |
          .\\ue4\\Engine\\Binaries\\DotNET\\UnrealBuildTool.exe  -projectfiles -project="%GITHUB_WORKSPACE%\\SML\\FactoryGame.uproject" -game -rocket -progres
          MSBuild.exe .\\SML\\FactoryGame.sln /p:Configuration="Shipping" /p:Platform="Win64" /t:"Games\\FactoryGame"
          MSBuild.exe .\\SML\\FactoryGame.sln /p:Configuration="Development Editor" /p:Platform="Win64" /t:"Games\\FactoryGame"
          .\\ue4\\Engine\\Build\\BatchFiles\\RunUAT.bat -ScriptsForProject="%GITHUB_WORKSPACE%\\SML\\FactoryGame.uproject" PackagePlugin -Project="%GITHUB_WORKSPACE%\\SML\\FactoryGame.uproject" -PluginName="SML" -GameDir="%SF_GAME_DIR%"
